<section style="margin-right: auto; margin-left: auto; border-width: 1px; border-style: solid; border-color: rgb(197, 63, 70); display: inline-block; width: 1.8em; height: 1.8em; line-height: 1.8em; border-radius: 100%; font-size: 18px; color: rgb(255, 255, 255); background-color: rgb(197, 63, 70); visibility: visible;"><p style="visibility: visible;"><span leaf="" style="visibility: visible;">1</span></p></section>